body {
  background-color: #EEE;
}

@keyframes pear-logo-wiggle-back {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(7deg); }
  100% { transform: rotate(0deg); }
}

@keyframes pear-logo-wiggle-front {
  0% { transform: rotate(7deg); }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(7deg); }
}

.pear-logo{
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  transform-origin: 50% 80%;
}

.pear-logo.back{
  display: block;
  animation: pear-logo-wiggle-back infinite 1s ease-in-out;
}

.pear-logo.front{
  position: absolute;
  left: 23px;
  animation: pear-logo-wiggle-front infinite 1s ease-in-out;
}

.App-logo {
  font-size: 40px;
  margin-left: 5px;
  margin-right: 5px;
  animation: App-logo-spin infinite 10s linear;
}

.App-header {
  display:flex;
  flex-direction: row;
  align-items: center;
  background-color: #222;
  height: 50px;
  padding: 5px;
  color: white;
}

.App-header h2{
  margin-left: 20px
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.box{
  background-color: white;
  text-align: left;
  margin: 5px;
  padding: 20px;
  border-bottom: 1px solid #BBB;
  width: 250px;
}

.box.highlight{
  border:1px solid black;
  background-color: #ddd
}

.box.highlight .usersBox::after{
  content:'+';
  color:white;
  line-height: 55px;
  font-size: 120px;
  font-family: 'Material Icons';
  text-align: center;
  margin: 5px;
  width: 110px;
  height: 110px;
  background-color: #EEE;
  border-radius: 10%;
}

.box .header{
  text-align: center;
  font-weight: bold;
}

.blue-button{
  margin: 0px 5px;
  padding: 10px;
  text-align: left;
  background-color: #058;
  color: white;
  font-weight: bold;
  font-size: small;
  border: none;
}

.blue-button:disabled{
  background-color:#BBB
}

.pairate-button{
  margin: 5px 5px 10px 55px;
}

.clear-button{
  float:right;
  margin: 5px 55px 5px 5px
}

.main{
  display:flex;
}

.pair-list{
  width: 90%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gutter{
  display:flex;
  width: 50px;
}

.usersBox{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user{
  position: relative;
  margin: 5px;
  width: 110px;
  height: 110px;
  cursor: move;
}

.user.highlight{
  border: 2px solid #d00;
  border-radius: 5px;
}

.user .name{
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}

.picture{
  height: 90px;
  width: 90px;
  overflow: hidden;
  background-size: 100% 100%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.station-history{
  position:absolute;
  right:14px;
  bottom:15px;
  background-color: #1e3488;
  color:white;
  font-size:12px;
  border-radius: 50%;
  height: 17px;
  width: 20px;
  text-align: center;
  padding-top: 3px
}

.lock-button{
  background-color:transparent;
  border:none;
  outline:none;
  position: absolute;
  left: 0;
  top:0;
  height: 30px;
  width: 30px;
  color: #FFF;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
}

.lock{

}

.lock_outline{
  border-radius: 50%;
  background-color: #B00;
  padding: 2px;
  font-size: 18px;
}

.lock_open{
  border-radius: 50%;
  background-color: #BBB;
  padding: 2px;
  font-size: 18px;
}

.hidden{
  display:none;
}
